    <script src="/updateProductAdmin.js"></script>
    <table>
        <tr>
            <input type="text", name="name", placeholder="name">
        </tr>
        <tr>
            <input type="text", name="arabic_name", placeholder="arabic name">
        </tr>
        <tr>
            <td><input type="text", name="description", placeholder="description"></td>
        </tr>
        <tr>
            <input type="text", name="arabic_description", placeholder="arabic description">
        </tr>
        <tr>
            <input type="text", name="model", placeholder="models">
        </tr>
    </table>
    <input type="submit" name="submit" value="submit">
